 */{
padding: 0;
margin:0;
box-sizing: border-box;
}
.container {
display:flex;
margin:200px;
align-items: center;
justify-content: center;
}
.div1 {
background-color: hsl(241, 81%, 54%);
padding: 50px;
display: flex;
flex-direction:column;
align-items: center;
width: 350px;
color:whitesmoke;
border-radius: 20px;

}
.circle {
background-color: hsla(256, 72%, 46%, 1);
border-radius: 20px;
width:150px;
height:150px;
margin:15px 0;
}
.score1 {
padding-top: 30px;
padding-left:40px;
font-size:48px;
font-weight:bold;   
}
.score2 {
padding-top: 8px;
padding-left:50px;  
}
.class3 {
padding-top:10px;
text-align: center;
}
.column {
    display:flex;
    border-style:solid;
    text-align:justify;
    display:inline;
    padding:50px;
    width:350px;
    background-color:white;
    word-spacing:70px;
    font-weight:bold;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-color: whitesmoke;
}
.top {
    display: flex;
    border:solid;
    border-radius:20px;
    background-color: rgb(255,192,203);
    border-color:white;
    font-weight:normal;
}
.main {
    display: flex;
    border:solid;
    border-radius:20px;
    background-color:#fff0f5;
    border-color:white;
    font-weight:normal;

}
.classA {
    display: flex;
    border:solid;
    border-radius:20px;
    background-color:#f0ffff;
    border-color:white;
    font-weight:normal;
}
.header {
    display: flex;
    border:solid;
    border-radius:20px;
    background-color:#e6e6fa;
    border-color:white;
    font-weight:normal;  
}
.classB{
    display:flex;
    border-radius:30px;
    padding-bottom:20px;
    padding-top:20px;
    /* padding-left:70px;
    padding-right:70px; */
    justify-content: center;
    align-items: center;
    margin:40px;
    font-size:100%;
    background-color:rgb(28 32 34);
       
}
.summary_icons {
    margin: 0 20px;
}
.buttonlink {
    text-decoration:none;
    color:white;  
}


